*{
    font-family: monospace;
    text-justify: auto;
}
body{
    background-image: url(img/legal-place-holders/papertexturefull.jpg);
}
#icone{
    height: 90px;
}

table{
    width: 100%;
    border-bottom: 5px solid black;
    margin-top: auto;
}
#iconglobe{
    width: 20%;
}
.elements{
    width: 10%;
    text-align: center;
    border-left: 1px solid black;
}
#warlogo{
    height: 90px;
}

#first{
    background-image: url(img/legal-place-holders/map-world-black-and-white-history-atlas-organism-1450905-pxhere.com.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% ;
    
}

.impact{
    text-align: end;
    font-size: 75px;
    border-bottom: 5px solid black;
    height: 67px;
    margin-top: auto;
}

p{
    font-size: 20px;
}

