*{
    font-family: monospace;
    text-justify: auto;
}
body{
    background-image: url(img/legal-place-holders/papertexturefull.jpg);
}
#icone{
    height: 90px;
}

table{
    width: 100%;
    border-bottom: 5px solid black;
}
#iconglobe{
    width: 20%;
}
.elements{
    width: 10%;
    text-align: center;
    border-left: 1px solid black;
}
#warlogo{
    height: 90px;
}

#first{
    background-image: url(img/legal-place-holders/world-mapfull.jpg);
    height: 400px;
}

.impact{
    text-align: end;
    font-size: 75px;
    border-bottom: 5px solid black;
    height: 67px;
    margin-top: auto;
}

p{
    font-size: 20px;
}